@font-face {
    font-family: 'NotoSans-Regular';
    src: url('fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'NotoSans-Bold';
    src: url('fonts/NotoSans-Bold.ttf');
}

@font-face {
    font-family: 'NotoSans-Black';
    src: url('fonts/NotoSans-Black.ttf');
}

html {
    background-color: #EDF2C5;
    box-sizing: border-box; /*預設是cotent-box*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 100%; /*雖然不知道有沒有必要，但還是寫一下*/
}

.container {
    width: 1120px; /*如果設 max-width，縮放時格式會怪怪的*/
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}

.header-title {
    font-family: NotoSans-Black;
    font-size: 2.75em;
    line-height: normal;
    color: #778A50;
    margin: 0;
}

.header-button {
    display: flex;
    align-items: center;
}

.header-button-left {
    border-right: 1px solid #778A50; /*直線加在這*/
    margin-right: -3px; /*呃可以這樣用嗎？*/
    margin-top: 5px; /*對齊用*/
}

.header-button-left-item {
    padding-right: 12px;
}

.header-button-right {
    display: flex;
}

.header-button-right-item {
    color: #778A50;
    font-family: NotoSans-Bold;
    font-size: 0.875em;
    line-height: normal;
    border: 1px solid #778A50;
    border-radius: 3px;
    padding: 4px 8px;
    margin-left: 14px;
}

.nav {
    margin-top: 10px;
}

.nav-list {
    background-color: #778A50;
    list-style: none;
    display: flex;
    
    border-top: 1px solid #778A50;
    border-bottom: 1px solid #778A50;
    border-radius: 3px;
    
    padding: 0;
    margin: 0;
}

.nav-list-item {
    margin-left: 30px;
    margin-right: 34px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.nav-list-item-link {
    text-decoration: none; /*去除字型設定，如畫底線與粗體等*/
    color: #EDF2C5;
    font-family: NotoSans-Black;
    font-size: 1em;
    line-height: 1.5;
}

.main {

}

.main-image {
    display: block; /*圖片預設為inline元件，周遭可能會有一個謎之間距*/
    margin-top: 16px;
    margin-bottom: 32px;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.main-content-vegetables {
    margin-right: 64px;
}

.main-content-vegetables-title {
    color: #EDF2C5;
    font-family: NotoSans-Black;
    font-size: 1em;
    line-height: 1.5;
    
    background-color: #778A50;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 30px;
    border-top: 1px solid #778A50;
    border-bottom: 1px solid #778A50;
    border-radius: 3px;

    margin: 0 0 16px 0;
}

.main-content-vegetables-image {
    display: flex;
    justify-content: start;
}

.main-content-vegetables-image-item {
    display: block;
    margin-right: 16px;
}

#image-end {
    margin-right: 0;  /*消掉最邊邊多餘的間距*/ 
}

.main-content-contact {

}

.main-content-contact-title { /*跟旁邊的蔬菜欄位格式一樣*/
    color: #EDF2C5;
    font-family: NotoSans-Black;
    font-size: 1em;
    line-height: 1.5;
    
    background-color: #778A50;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 30px;
    border-top: 1px solid #778A50;
    border-bottom: 1px solid #778A50;
    border-radius: 3px;

    margin: 0 0 16px 0;
}

.main-content-contact-words {
    font-family: NotoSans-Regular;
    font-size: 0.75em;
    line-height: 1.5;
    color: #7D7D7D;

    background-color: #F7FBDA;

    padding: 16px 16px 16px 16px;
}

.main-content-contact-words-up {
    padding-bottom: 9px;
    border-bottom: 1px solid #7D7D7D;
    margin-top: 0;
    margin-bottom: 0;
}

.main-content-contact-words-down {
    margin-top: 9px;
    margin-bottom: 0;
}
